{% extends "allianceauth/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block page_title %} {% translate "FW Systems History" %} {% endblock page_title %}

{% block content %}
	<div class="col-lg-12 container">
		<br>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#systemviewer-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">{% translate "Toggle navigation" %}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'fwsystems:systemviewer' %}">{% translate "FW System History" %}</a>
			</div>

			<div class="collapse navbar-collapse" id="systemviewer-navbar-collapse-1">
				<ul class="navbar-form navbar-left">
					{% include "fwsystems/systemviewer/system_selector.html" %}
				</ul>
			</div>
		</nav>
	<head>
	<body>
		<script src="{% static 'js/Chart.min.js' %}"></script>
		<canvas id="chartContainer" style="width: 100%; height: 360px;"></canvas>
		<script>
			window.onload = function () {
				var chart = new Chart("chartContainer", {
					type: 'line',
					options: {
						animationEnabled: true,
						title:{
							display: true,
							text: "{{ title|safe }}"
						},
						toolTip: {
							shared: true
						},
						scales : {
							x: {
							    type: 'time',
							    ticks: {
							        autoSkip: true,
							        maxTicksLimit: 5
   							    }
							}
						}
					},

					data: {
						labels: {{timeData|safe}},
						datasets: [{
							steppedLine: true,
							label: "Contest Amount",
							lineThickness: 1,
							borderColor: "red",
							data: {{contestAmount|safe}},
						},{
							steppedLine: true,
							label: "{{faction1|safe}} Advantage",
							axisYType: "secondary",
							lineThickness: 1,
							borderColor: "{{color1}}",
							data: {{advantageAmount1|safe}},
						},{
                                                        steppedLine: true,
                                                        label: "{{faction2|safe}} Advantage",
                                                        axisYType: "secondary",
                                                        lineThickness: 1,
                                                        borderColor: "{{color2}}",
                                                        data: {{advantageAmount2|safe}},
                                                }]
					}
				});
				chart.render();
			}
		</script>
	</body>
	</head>
	</div>

{% endblock content %}
